body{
/*   font-family: 'Barlow', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  background-color: hsl(0, 0%, 85%);
}
h1{ 
  font-size: 2rem;
  font-weight: 200;
}
h2{ 
  font-size: 1.2rem;
  font-weight: 300;
}
h3{ 
  font-size: 1.3rem;
  margin: 0px;
  font-weight: 300;
}

/* HEADER */

header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 15%);
  min-height: 7.0rem;
}
header #logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  min-height: 4rem;
}
header #logo a{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  font-style: italic;
  color: hsl(0, 0%, 90%);
  padding-left: 20px;
}

/* NAV */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 20%);
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  height: 3rem;
  background-color: hsl(0, 0%, 20%);
}
nav ul li{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-grow: 1;
  
}
nav ul li a{
  display: flex;
  justify-content: center;
  font-size: 1.05rem;
  line-height: 1rem;
  line-height: 3rem;
  flex-grow: 1;
  color: hsl(0, 0%, 85%);
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover{
  background-color: hsl(0, 0%, 25%);
}

/* MAIN */

section#ev-section{
  margin: 0px 0px 0px 10px;
  width: 96%;
}
section#ev-section .ev-section-wide{
  /* width: 87%; the containing id has more specificity here*/

}
section #ev-listings{
}
section .single-listing{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  border: 0px solid hsl(0, 0%, 50%);
  border-left:1px dashed hsl(0, 0%, 50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
section #ev-listings ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  align-items: flex-start ;
  flex-grow: 1;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  margin: 0px;
}
section .single-listing ul li{
  display: flex;
  justify-content: flex-start;
}
section .single-listing ul li div{
}
section .single-listing .ev-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(80, 100%, 90%);
  min-width: 4rem;
}
span.ev-dotw{
  font-size: 1rem;
}
span.ev-mmm{
  font-size: 1.2rem;
}
span.ev-dd{
  font-size: 2.3rem;
}

section .single-listing .fav-add{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  background-color: hsl(0, 0%, 92%);
  border-left: 1px dashed hsl(0, 0%, 66%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.fav-add a{
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
section .single-listing .fav-add:hover{
   background-color: hsl(130, 100%, 95%);
}

/* 

FAVORITE SIDEBAR 

*/

/* Favorite Listings */
#fav-area{
  position: fixed;
  display:flex;
  flex-direction: column;
  top: 0rem;
  right: 0px;
  width: 52%;
  background-color: hsl(0, 0%, 100%);
}
.shadow{
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.39);
box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.39);
}
.fav-hide{
  margin-right: calc(-52% + 4rem);
}
#fav-area #fav-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 360px; */
  background-color: hsl(0, 0%, 100%);
}

#fav-area #fav-item .fav-date{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  min-width: 4rem;
  height: 2rem;
  background-color: hsl(150, 100%, 90%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
#fav-area #fav-item .fav-summary{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: 4px;
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(0, 0%, 70%);
}
#fav-area #fav-item .fav-summary ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
  font-size: 1.0rem;
  list-style: none;
}

/* COUNTER AREA */

#fav-area #fav-count{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 50px;
  height: 4rem;
  border-bottom: 1px solid gray;
}
#fav-area #fav-count #counter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background-color: hsl(334, 100%, 20%);
  color: white;
  font-size: 1.5em;
}

#fav-area #fav-count #fav-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: hsl(0, 0%, 80%);
}

/* DELETE LISTING */

#fav-area #fav-item .fav-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-left: 1px dashed red;
  border-right: 0px dashed red;
  border-top: 0px solid red;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  min-width: 4rem;
}

.fav-delete a{
  color: red;
  font-size: 1.5rem;
  text-decoration: none;
}

/* TOGGLE AND UTILIIES AREA */

#fav-area #fav-util{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 50px;
  height: 4rem;
  background-color: hsl(0, 0%, 20%);
}
#fav-area #fav-util #fav-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background-color: hsl(170, 100%, 20%);
  color: white;
  font-size: 1.5em;
}

#fav-area #fav-util #fav-sharea{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: hsl(0, 0%, 70%);
}
#fav-sharea .material-icons{
  margin-left: 10px;
}
#fav-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: hsl(0, 0%, 40%);
}
#fav-email i{
  color: white;
  font-size: 1.7rem;
}

/* FAV FORM */
#fav-form{
  position: fixed;
  top: 0px;
  padding: 0px;
  height: 100%;
  width: 47%;
  background-color: white;
  padding: 20px
}
#fav-form form{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
#fav-form form input{
  width: 300px;
  font-size: 1rem;
  line-height: 2rem;
  
}
#fav-form form label{
   margin-top: 10px; 
}
#fav-form form button{
   margin-top: 10px;
   width: 75px;
   line-height: 2rem;
   background-color: orange;
   font-size: 1.0rem;
}
#fav-form #close-form{
  text-align: right;
  cursor: pointer;
}
.hide-show{
  display: none;
}
/* 

START MEDIA QUERIES FOR MOBILE DEVICES 

*/

@media only screen and (max-width: 600px) {
  header #logo{
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    margin-left: -7rem;
  }
  header #logo a{
    font-size: 2rem;
    padding-left: 5px;
  }

  section#ev-section{
    margin: 0px 0px 0px 10px;
    width: 96%;
  }
  section .single-listing {
    border: 0px solid hsl(0, 0%, 50%);
    border-left: 0px dashed hsl(0, 0%, 50%);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  section .single-listing .fav-add {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  nav ul {
    width: 82%;
  }
  nav ul li a{
    font-size: .8rem;
  }
  #fav-area #fav-item .fav-summary{
/*     min-width: 300px; */
  }
  #fav-form{
    top: 0px;
    left: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
  }
  #fav-form #close-form{
  text-align: right;
  margin-right: 50px;
  }
  #fav-area{
    width: 100%;
  }
  .fav-hide{
    margin-right: calc(-100% + 4rem);
}

}